@font-face {
	font-family: 'Open Sans';
	src:url(fonts/OpenSans-Regular.ttf); 
}

@font-face {
	font-family: 'Open Sans Semibold';
	src:url(fonts/OpenSans-Semibold.ttf);
  	font-weight: bold;
}

body {
    overflow-x: hidden;
}

p, a {
	font-family: 'Open Sans';
}

h1 {
	margin: 7px 0 0 0;
	float: left;
}

h1 a {
	font-family:  'Open Sans Semibold';
	font-size: 28px;
}

.navbar, .navbar-header{
	margin-bottom: 0px;
    min-height: 76px;
    border: none;
}
.nav > li > a {
    margin-top: -7px;
    font-family: 'Open Sans Semibold';
}

.nav > li {
    border-radius: 25px;
    height: 35px;
    margin-top: 22px;
    margin-left: 10px;
}

.navbar-inverse .navbar-nav>li>a {
	color:white;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color:#1bbc9b;
}

.navbar-inverse .navbar-nav>.active>a{
    color:#1bbc9b;
}

.navbar-inverse .navbar-nav > li.active {
    	background-color: #34495e;
    -webkit-box-shadow:inset 0px 0px 0px 2px #1bbc9b;
    -moz-box-shadow:inset 0px 0px 0px 2px #1bbc9b;
    box-shadow:inset 0px 0px 0px 2px #1bbc9b;
}
.navbar-inverse .navbar-nav>li:hover {
	background-color: #34495e;
    -webkit-box-shadow:inset 0px 0px 0px 2px #1bbc9b;
    -moz-box-shadow:inset 0px 0px 0px 2px #1bbc9b;
    box-shadow:inset 0px 0px 0px 2px #1bbc9b;
}



@media (max-width: 842px)  {
    #logo {
        margin-left: 20px;
        margin-right:0px;
        padding: 0;
     }
    .container{
        width:100%;
    }
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    .navbar-inverse .navbar-nav>li:hover{
        -webkit-box-shadow:none;
        -moz-box-shadow:none;
        box-shadow:none;
        background-color:white;
    }
    .navbar-inverse .navbar-nav>li:hover a {
        color: black;
    }
    .nav .navbar-nav > li > a {
        margin-top:0px;
    }
    .navbar-inverse .navbar-nav{
        margin-bottom:0px;
        margin-top: 0px;
       overflow: hidden;
    }
    .navbar-inverse .navbar-nav>li{
        width: 100%;
        border-radius: 0px;
        height: 70px;
        margin: 0;
    }
    .navbar-inverse .navbar-nav>li>a{
        line-height:53px;
        margin-top:0px;
    }
    li.active > a{
        color:black;
    }
    .navbar-inverse .navbar-nav>.active>a:hover{
        color:#1bbc9b;
    }
    .navbar-inverse .navbar-nav > li.active {
        
        -webkit-box-shadow:none;
        -moz-box-shadow:none;
        box-shadow:none;
    }

}


.navbar,.navbar-brand {
	background-color:#34495e;
}

.navbar-inverse {
		border-radius:0px;
}

.navbar-brand {
	line-height:35px;
}

.menu {
	color:white;
}

main {
	width:100%;
	height: auto;
}

#slider {
	position: relative;
	background-color:#1bbc9b;
	background-size: 100%;
	height: auto;
    padding-top: 25px;
    padding-bottom:30px;
}


#logo {
	background-image: url('../images/logo.png');
	width: 50px;
	height: 50px;
	float: left;
	margin-top: 13px;
	
}
.media-body > img {
    margin-bottom: 2px;
}

@media (min-width:843px){
    #logo {
        margin-right: 15px;
    }
}

#slider h2 {
    margin-top: 0px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Open Sans Semibold'
   
}
.uppercase {
     text-transform: uppercase;
}
#slider p {
    color:white;
    text-align: center;
}
#slider .row {
    width: 70%;
    margin: 0 auto;
}

#slider button {
    text-align: center;
    height: 30px;
    border-radius: 20px;
    background-color: #000;
    color:white;
    border: 2px solid white;
    font-family: 'Open Sans'
}
#slider button:hover {
    background-color:white;
    color:black;
}
.col-lg-12 {
    margin-bottom: 20px;
}

main {
    background-color:#f2f2f2;
    position: relative;
    z-index:-5;
}

main .row {
    width:70%;
    margin: 0 auto;
}

main .row .row {
    width: 100%;
}

main h2 {
    font-size: 28px;
}
main h3 {
    font-size:22px
}

main .col-lg-12 {
    padding: 10px 10px 10px 10px;
}

#sliderbuttons {
    margin: auto;
    display: block;
    width: 238px;
}
#slider:after {
    background: linear-gradient(-45deg,#f2f2f2 8px, transparent 0),                 linear-gradient(45deg, #f2f2f2 8px, transparent 0);
    background-repeat: repeat-x;
    background-size: 16px 16px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 16px;
}
main article > .col-lg-12 {
    background-color:white;
}


main span {
    font-family: 'Open Sans Semibold';
}

main {
    z-index:100;
}


footer {
    height: 75px;
    background-color: #34495e;
    margin-bottom:0;
    position: relative;
}
html .no-js  {
    padding-bottom: 0px;
}
footer p {
    line-height: 75px;
    color: white;
    margin-bottom:0;
    text-align: center;
}
footer > .row > .col-lg-12 {
    width: 70%;
    margin: 0 auto;
}
footer > .row {
    margin: 0 auto;
}
footer .row, footer > .row > .col-lg-12 {
    height: 75px;
}

.push {
    height: 75px;
}

html, body {
    height: 100%;
}

#container {
    min-height: 100%;
    height: auto !important;

	margin: 0 auto -75px;
    background-color:#f2f2f2;
}

.media-body {
    border-left: 6px solid #34495e;
    width:100%;
    padding:10px 10px 10px 10px;
   margin-top:0;
   margin-bottom: 20px;
   background-color: #F5F5F5;
}
.media-body p {
    width: 100%;
    
}
.media-body img {
    margin-right: 10px;
}
.media p span {
    font-family: 'Open Sans Semibold';
}
#container:after {
        display: block;
        width: 100%;
        content: "";
        height: 75px;
}
.white-box {
    margin-top:0;
    min-height: 40px;
    line-height: 40px;
    background-color:white;   
    border-left:  6px solid #34495e;
    padding: 0 10px 0 10px;
} 

.white-box p {
    margin-bottom: 0px;
}

#validation-errors{
    margin: 10px 10px 10px 10px;
    display: none;
}
#validation-errors p {
    color:black;
    font-family: 'Open Sans Semibold';
}

.row > .col-xs-6  {
    color: black;
    text-align: center;
    line-height: 40px;
}

.row > .head {
    color:white;
    background-color: #126BB2;
    min-height: 40px;

}

#admintabcontent > .row {

    min-height: 40px;
    border-left: 6px solid #34495e;   
}
.col-lg-12 > .row {
    min-height: 40px;
    border-left: 6px solid #34495e;
}

.data:nth-child(odd) {
    background-color: white;
    border-left: 6px solid #34495e;
}

.data:nth-child(even){
    background-color: #F1F1F1; 
    border-left: 6px solid #34495e;
}
.head {
    font-family: 'Open Sans Semibold';

}
#tabs {
    margin-bottom: 10px;
}
input, textarea, select, input[type='checkbox']{
    margin-bottom: 15px;
}
input[type='submit']{
    min-width:150px;
    max-width:50%;
}
#content{
    margin:10px 10px 10px 10px;
}

#admintabcontent{
    margin-left:10px;
    margin-bottom: 10px;
}
form{width:400px;}
#chartdiv {
    width   : 100%;
    height  : 350px;
}   
#piediv {
    width       : 100%;
    height      :250px;
    font-size   : 11px;
}       
#bardiv {
    width       : 100%;
    height      :350px;
 
}
.fotoid {
    width: 400px;
    max-height: 300px;
}
.thumbnailid {
    width: 200px;
    max-height: 150px;
}       
iframe{
    height: 350px;
}
@media (max-width: 495px){
    form{width:100%;}
    .fotoid {
        width: 100%;
        height: auto;
    }
    iframe {
    height: 450px;
    }
    #admintabcontent {
        margin-left: 0;
    }
}
.thumby {
    width: 200px;
    height: 150px;
}
.foto, .adminfoto {
    width:400px;
    height: 300px;
}
@media (max-width:482px){
    .adminfoto {
        width: 100%;
    }
}
@media (max-width:630px){
    main .row{
        width: 90%;
    }
}
@media (max-width:491px){
    main .row{
        width: 90%;
    }
    .foto {
        width:100%;
        height: auto;
        margin-right:5px;
    }
}
@media (max-width:320px){
    main .row{
        width: 98%;
    }
}
@media (max-width:353px){
    #sliderbuttons > a{
        display:inline;
        margin-top: 10px;
        display:block;
    }
    .thumby {
        display:inline;
        display:block;
    }
    .thumby:after{
        content:"\a";
        white-space: pre;
    }
    #sliderbuttons {
        width: 125px;
    }
    #sliderbuttons > a:after {
        content:"\a";
        white-space: pre;
    }
}
.col-lg-12 > img {
    float:left;
    margin: 0 10px 10px 0;
}